page-login {
    .card {
        background-color:rgb(247, 240, 240);
        /* just in case there no content*/
        padding: 25px 25px 25px;
        margin: 0 auto 25px;
        margin-top: 0px;
        /* shadows and rounded borders */
        
       
       
    }
   
    
    ion-item {
        border-radius: 30px !important;
      
        margin-bottom: 10px;
        background-color: #f6f6f6;
        height: 5px;
         position:center;
         justify-content: center;
        
       
    }
    
    .card-container.card {
        max-width: 350px;
        padding: 2px 20px;
    }
    
    
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
   
       ion-content {
       position:center;
                background-color: map-get($colors, secondary);
            }
     
            scroll-content {
                display: flex;
                flex-direction: column;
            }
     
            ion-row {
                position:center;
                text-align: center;
            }
     
            ion-item {
                
              
              
                background-color: #f6f6f6;
               
                 width:100%;
                 
               
               
            }
            .center{
             text-align:center;
            }
    
            ion-input {
            text-align: center;
    
            }
          .in2{
          text-align:center;
          }
     
            ion-list {
             text-align: center;
    
                
            }
     
            .login-logo {
                flex: 2;
            }
     
            .login-form {
                flex: 4;
              
                 
                  text-align: center;
            }
     
            .create-account {
               
              
                 border-radius: 30px;
                font-size: 0.9em;
                
                border: 1px solid #fff;
            }
     
            .login-button {
                border-radius: 30px;
                font-size: 0.9em;
                
                border: 1px solid #fff;
            }
    
    
    


}
