page-order-details-for-admin {
    .card {
        background-color:rgb(253, 253, 253);
        /* just in case there no content*/
        padding: 10px 10px 10px;
        margin: 0 auto 25px;
        margin-top: 0px;
        /* shadows and rounded borders */
        
      
       
    }
    
    
   
    
    .card-container.card {
        max-width: 700px;
       
        padding: 10px 20px;
    }

}
