<!--
  Generated template for the AdminOrderViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header><ion-navbar  color="prima">
          
    <!--    <img alt="logo" height="80" width="300"  style="border-radius: 100% ;margin-top: 15px;margin-left: 20px" src="assets/icon/download.png" ></ion-col><ion-col><ion-buttons style="margin-top: 40px" left>
           
    -->
    
    <ion-title><h1>GroceryApp</h1></ion-title>
      <ion-buttons left>
          
              <button  ion-button icon-only (click)="openMenu('main')">
                      <ion-icon name="menu"></ion-icon><img  height="80" width="120"  style="border-radius: 100% " src="assets/icon/download.png" />
                    </button>
       </ion-buttons>
      
     
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
    

<br>
<div  *ngIf="(OrdersRef$ | async)?.length == 0">
    <span class="search_no_results">
       <h3 align="center">No orders yet
         <br>
         
          <img  height="100" width="100"  style="border-radius: 100% " src="assets/icon/download.png" />
    <br>
  
       </h3> 
               </span>
</div>
<ion-list *ngIf="(OrdersRef$ | async)?.length != 0" ><div >
    <h4 align="center">Orders</h4>
    <br>
    <table  border="1" align="center" style="overflow:scroll; -webkit-overflow-scrolling:touch"   >
        
          
      <thead>
         <tr>
           <th>Sl No</th>
            <th>Item Name</th>
            <th>Item order quantity </th>
           
            
            <th>Price</th><th>Stock</th>
           <th>Action</th>
         </tr>
      </thead>
      
      <tbody *ngFor="let item of OrdersRef$ | async;let i=index">
         <tr>
           <td>{{i+1}}</td>
            <td (click)="showDetails(item)"><font color="blue "><u>{{item.name}}</u></font></td>
            <td>{{item.quantity}}</td>
         
         
            
            
              
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>
           <td> <button ion-button color="danger"  (click)="deleteOrder(item)"> <ion-icon name="ios-trash-outline"></ion-icon> </button></td>
          </tr>
      </tbody>
     
   </table></div></ion-list>
    
</ion-content>
<ion-footer text-center>
  <page-footer></page-footer>
</ion-footer>
