<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header><ion-navbar  color="prima">
          
    <!--    <img alt="logo" height="80" width="300"  style="border-radius: 100% ;margin-top: 15px;margin-left: 20px" src="assets/icon/download.png" ></ion-col><ion-col><ion-buttons style="margin-top: 40px" left>
           
    -->
    
    <ion-title><h1>GroceryApp</h1></ion-title>
      <ion-buttons left>
          
              <button  ion-button icon-only (click)="openMenu('main')">
                      <ion-icon name="menu"></ion-icon><img  height="80" width="120"  style="border-radius: 100% " src="assets/icon/download.png" />
                    </button>
       </ion-buttons>
      
     
    </ion-navbar></ion-header>






<ion-content>
  <br>
    <div class="container">
        <div class="card card-container">
          
    <ion-list>
      <br>
      
      Select category:
        <ion-item>
            
            <ion-select placeholder="Category"
               
               [(ngModel)]="product.category" >
              
               <ion-option *ngFor="let category of categoryRef$ | async" [value]="category.categoryName">
                  {{category.categoryName}}
              </ion-option>
            </ion-select>
         </ion-item>
       <br>
     <ion-item>
       
       <ion-input placeholder="Name" type="text" [(ngModel)]="product.name"  ></ion-input>
     </ion-item>
     <br>
      Select image:
     <ion-item>
      
      <input #myInput placeholder="Product image" id="uploadfileImage" type="file" (change)="changeListener($event)">
    </ion-item>
    <br>
    
      <input type="hidden"[(ngModel)]="product.image" disabled="true"/>
    
    <br>
     <ion-item>
      
      <ion-textarea placeholder="Product description" [(ngModel)]="product.discription"></ion-textarea>
    </ion-item>
    <br>
    <ion-item>
       
        <ion-input placeholder="Product price" type="text" [(ngModel)]="product.price"></ion-input>
      </ion-item>
      <br>
      <ion-item>
         
          <ion-input placeholder="Product stock" type="number" [(ngModel)]="product.stock"></ion-input>
        </ion-item>
        <br>
        <ion-item>
            
            <ion-input placeholder="Product available" type="boolean" [(ngModel)]="product.available"></ion-input>
          </ion-item>
      <br>
    
          
     
        <!--  <ion-item>
              <ion-label>Category</ion-label>
              <ion-select [ngModel]="product.category"  name="product.category">
                <ion-option [value]="null">
                    None
                </ion-option>
                <ion-option *ngFor="let category of categoryRef$ | async" [value]="category">
                    {{category.categoryName}}
                </ion-option>
            </ion-select>
             
            </ion-item>-->
            <ion-row><ion-col></ion-col><ion-col><button full ion-button color="secondary" (click)="addProduct(product)">Save</button></ion-col><ion-col></ion-col></ion-row>
    </ion-list>
 
    
    </div>
  </div>
  <br>
  
 </ion-content>
 
 
<ion-footer><page-footer></page-footer></ion-footer>